body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: auto;
    width: 300px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: rgb(253, 143, 161);
    text-align: center;
}